body {
    height: 100vh;
    background-color: lightblue;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
  }

  .contact {
    width: 100%;
    height: 100%;
    display: flex;
    background-color: white;
    text-align: center;
    align-items: center;
    justify-content: center;
  }